@use "../variables";

.header {
    width: 100%;
    margin-bottom: 30px;
    background-color: variables.$color-bg;

    .header__title {
        width: 100%;
        padding: 15px 0;

        @media screen and (width >= 768px) {
            padding: 30px 0;
        }
    }
    .header__menu {
        display: flex;
        flex-wrap: wrap;
        background-color: #d9d9d9;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 0 40px;
            padding-left: 5px;
        }

        li {
            display: flex;
            list-style-type: none;

            &.active > a {
                color: variables.$color-default-2;
            }
        }
    }

    .header__menu a {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 286%;
        text-align: center;
        text-decoration: none;
        color: variables.$color-default-1;

        &:hover,
        &.active {
            color: variables.$color-default-2;
        }
    }
}
