@import "./styles/normalize";

$color-background: gray;
$color-shadow-cell: rgba(34, 60, 80, 1);
$color-cell-checked: #dad4d4;
$color-shadow-checked: rgb(162 172 181);
$color-flag: #08ea08;
$color-bomb: red;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.header,
.main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
}

.grid {
  width: 600px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-background;

  @media screen and (max-height: 768px) {
    min-height: 500px;
    width: 500px;
  }

  @media screen and (max-width: 768px) {
    min-height: 80vh;
    width: 90vw;
  }

  .grid__cell {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 5px $color-shadow-cell inset;
    font-size: 2.5rem;
    font-weight: 900;
  }

  .cell_checked {
    background-color: $color-cell-checked;
    box-shadow: 0px 0px 0px 5px rgb(162 172 181) inset;
  }

  .cell_flag {
    color: $color-flag;
  }
}
