@use "variables";

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter.ttf") format("truetype");
}
@font-face {
    font-family: "Inter-Italic";
    src: url("../fonts/Inter-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: normal;
    letter-spacing: 0em;
    color: variables.$color-default-1;
}

.hidden {
    overflow: hidden;
}

html,
body {
    height: 100%;
    scrollbar-gutter: stable;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
}

.main {
    flex: 1 1 auto;
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
