@use "variables";

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OpenSans.ttf") format("truetype");
}

@font-face {
    font-family: "TTNorms Medium";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/TTNorms-Medium.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: normal;
    letter-spacing: 0em;
    background-color: variables.$color-default;
}

html,
body {
    height: 100%;
    scrollbar-gutter: stable;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;

    @media screen and (max-width: 480px) {
        padding: 0 15px;
    }
}

.modal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 16px;
    color: #fff;
    font-size: 2rem;
    z-index: 1000;
    opacity: 0.9;
    transition: all 0.3s ease;
}
.modal.success {
    background-color: #4caf50;
}
.modal.error {
    background-color: #f44336;
}
